<h3>Generos: </h3>

{{#each generos}}
    <div class="card">
        <div class="card-body">
            <a href="/generos/{{slug}}"><h6>{{nome}}</h6></a>
        </div>
    </div>
{{else}}

{{/each}}



